@model List<Flight>

<p>All the flights will be listed here. the user will have access to filters (date, time, location, airline ect) </p>
<style>
    .card{
        padding:20px;
    }
    h4{
        float:inline-end;
    }
</style>

 
    @foreach(Flight flight in Model){
        <div class="card">
            <span><h3 style="display: inline-block">@flight.DepartureTime.TimeOfDay - @flight.ArrivalTime.TimeOfDay </h3> <h4> @flight.Duration</h4></span>
            <p>@flight.DepartureCity @flight.DepartureAirport - @flight.ArrivalCity @flight.ArrivalAirport</p>
            <p>@flight.AirlineName</p>
            <span><h5 class="text-danger" style="display: inline-block"> $@flight.Price</h5>
            <a asp-controller="Flights" asp-action="Checkout" asp-route-FlightID="@flight.FlightID" class="btn btn-primary" style="float:inline-end" >Checkout</a></span>
            
        </div>
        <br><br>
    }
     

<!--
<div class="card">
    <span><h3 style="display: inline-block">8:00 AM - 1:00 PM </h3> <h4 style="display: inline-block"> 4 hours</h4></span>
    <p>London - Madrid</p>
    <p>British Airlines</p>
    <span><h5 class="text-danger" style="display: inline-block"> $300</h5><a asp-controller="Flights" asp-action="Checkout" class="btn btn-primary" style="float:inline-end" >Checkout</a></span>
    
</div>
<br><br>
<div class="card">
    <span><h3 style="display: inline-block">8:00 AM - 1:00 PM </h3> <h4 style="display: inline-block"> 4 hours</h4></span>
    <p>London - Madrid</p>
    <p>British Airlines</p>
    <span><h5 class="text-danger" style="display: inline-block"> $300</h5><a asp-controller="Flights" asp-action="Checkout" class="btn btn-primary" style="float:inline-end" >Checkout</a></span>
    
</div>-->
